@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

body,
html {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 253, 253);
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 15px;
  margin-top: 5px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: right;
  width: 400px;

  padding: 30px;
  background-color: rgb(58, 94, 255);
  margin: 15px;
  border-radius: 10px;
  border: 0.2px solid black;
  box-shadow: 0 0 2px 0.5px black;

  > {
    flex: 1 1 100%;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  margin: 15px;
}

.icon {
  cursor: pointer;
  transition: 300ms ease-in-out;
  transform: translateY(-300px);

  &:hover {
    transform: scale(1.3);
  }
}

input {
  width: 100%;
  height: 30px;
  border-radius: 0.5rem;
  transition: 300ms ease;
  border: none;

  &:focus-visible {
    transform: translateY(-2px);
  }
}
label {
  display: block !important;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.translate-0 {
  transform: translate(0);
}

.hidden {
  opacity: 0;
}

.icon-container-bg {
  transition: 0.3s ease;
  transition-delay: 0.5s;
  background-color: rgb(179, 179, 179);
}

.submit-btn {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: 300ms ease;
  text-transform: uppercase;
  &:hover {
    transform: translateY(-4px);
  }
}

.social-media {
  position: absolute;
  bottom: 10%;
  transform: translate(0%, 10%);
  text-align: center;
  display: block;

  > * {
    color: aqua;
  }
  a {
    display: flex;
    gap: 10px;
    transition: 300ms;
    &:hover {
      translate: 0px -10px;
      color: blue;

      svg {
        fill: blue;
      }
    }
  }

  svg {
    fill: aqua;
    width: 22px;
  }
}

.form-text-container {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    border: 5px solid rgba(0, 0, 0, 1);
    padding: 10px;
    width: 400px;
    height: 400px;
    overflow: auto;
  }
}
